.header {
  display: flex;
  align-items: center;
  height: 45px;
  padding: 0 var(--content-bounds-padding);
  margin-bottom: var(--widget-gap);
  border-bottom: 1px solid var(--color-separator);
}

.title {
  font-size: var(--font-size-h1);
  font-weight: 700;
  color: var(--color-text-highlight);
  letter-spacing: 0.02em;
}
